---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Reservation from "../components/Reservation.astro";
import "@/styles/globals.css";
import ImgCarousel from "@/components/ImgCarousel.tsx";
---

<Layout title="Bienvenidos a Patio">
  <main>
    <header>
      <Header />
    </header>
    <body>
      <Reservation />
      <ImgCarousel />
    </body>
  </main>
</Layout>
