<section>
  <p class="text-3xl text-center mt-14 font-bold leading-relaxed">
    Eventos
    <p class="text-slate-700 text-xl font-normal text-center leading-relaxed">
      Hasta 60 Personas
    </p>
  </p>
</section>
