<section>
  <img
    class="h-40 flex justify-center mx-auto"
    src="https://res.cloudinary.com/du13ofsms/image/upload/f_auto,q_auto/v1/Patio-Webpage/ffgbz5hp6wogivrhfjzm"
    alt="Patio Logo"
  />
</section>
