---
import { Button } from "./ui/button";
---

<section id="menu">
  <span class="flex justify-center mt-14">
    <a href="/menu.pdf" target="_blank">
      <Button className="text-3xl py-9 px-10">Carta</Button>
    </a>
  </span>
</section>
