<nav
  class="font-light text-gray-500 flex items-center mx-auto my-0 justify-center gap-4 flex-row mb-12"
>
  <a href="">Horario</a>
  <a href="">Fotos</a>
  <a href="">Menú</a>
  <a href="">Eventos</a>
  <a href="">Contacto</a>
</nav>
