<nav
  class="font-light text-gray-500 flex items-center mx-auto my-0 justify-center gap-4 flex-row mb-12"
>
  <a href="#schedule">Horario</a>
  <a href="#photos">Fotos</a>
  <a href="#menu">Menú</a>
  <a href="#events">Eventos</a>
  <a href="#contact">Contacto</a>
</nav>
