---
import { Button } from "./ui/button";
---

<section id="schedule">
  <span class="flex justify-center mt-14">
    <a
      href="https://www.google.com/maps/reserve/v/dine/c/nLrCVpKvQyM?source=pa&hl=en-ES&gei=IcEbYNjTDvGC1fAPzeGZsA0&sourceurl=https%3A%2F%2Fwww.google.com%2Fsearch%3Frlz%3D1C5CHFA_enES854ES854%26biw%3D1440%26bih%3D789%26sxsrf%3DALeKk01sRlqOwzPE6-JRb7ZiR1k0g9_5Ig%3A1612431576792%26ei%3D2MAbYK_yL8mAgQbS4a3YBA%26q%3Dreservar%2Bpatio%2Bby%2Bsonys%26oq%3Dreservar%2Bpatio%2Bby%2Bsonys%26gs_lcp%3DCgZwc3ktYWIQAzIFCCEQoAE6BwgjELADECc6BAgjECc6BQgAEMsBOgcIABAKEMsBOgcIABAUEIcCOg0ILhDHARCvARAKEMsBOgsILhDHARCvARDLAToGCAAQFhAeOgkIABDJAxAWEB46BAghEBVQlBRY6i1g2TBoAXAAeACAAZUBiAHmEJIBBDAuMTeYAQCgAQGqAQdnd3Mtd2l6yAEBwAEB%26sclient%3Dpsy-ab%26ved%3D0ahUKEwivvu_a98_uAhVJQMAKHdJwC0sQ4dUDCA0%26uact%3D5&ihs=1"
    >
      <Button className="text-3xl py-9 px-10">Reservar</Button>
    </a>
  </span>
  <p class="text-3xl text-center mt-14 font-bold leading-relaxed">
    Horario
    <p class="text-slate-700 text-xl font-normal text-center leading-relaxed">
      Lunes a Viernes
      <br />
      09:00 - 17:30
    </p>
  </p>
</section>
